body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background-image: url('https://img.pikbest.com/ai/illus_our/20230427/c1335e4e27e5cd31007af894089719db.jpg!bw700');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.constraner {
    width: 40%;
    height: 40em;
    margin: 5% 31%;
    background-color: aliceblue;
}

.constraner .form-title p {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
    margin: 0
}

.form-controler {
    margin-top: 0.5em;
}

.form-controler label {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-left: 2.75em;
}

.form-controler input {
    width: 30em;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    font-size: 16px;
    margin-left: 2.75em;
}

.btn input {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    width: 31.25em;
    height: 3em;
    margin-top: 1.5em;
    margin-left: 2.75em;
}

.btn input:hover {
    background-color: rgb(56, 90, 194);
}